@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/bulma";

.card {
    transition: background-color 0.5s ease;
    cursor: pointer;

    img { 
        object-fit: cover;
    }

    h6 {
        color: $grey-light;
        font-size: 80%;
    }
}

.card:hover {
  background: rgba(55, 0, 255, 0.02);
}

@media (max-width: 768px) {

    .result-inner {
        display: flex;
        flex-direction: row;
    }

    .card-image {
        display: block;
        width: 25%;
    }

    .card-content {
        display: block;
        width: 75%;
        padding: 5px;
        
    }
}



